[Desktop Entry]
Name=Shadowsocks
Name[zh_CN]=影梭
Exec=shadowsocks
Icon=app/icon.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Image=splash.png
X-Ubuntu-Splash-Color=#4caf50
